# dependencies
/node_modules
/.pnp
.pnp.js

# Remix
/.cache
/build
/public/build
.env

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# vite
.vite

pnpm-lock.yaml
