{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": 3,
        "include": [
          "es.array.from"
        ]
      }
    ],
    [
      "@babel/typescript",
      {
        "jsxPragma": "h"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        "runtime": "automatic",
        "importSource": "preact"
      }
    ]
  ]
}
