{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": 3,
        "targets": "> 0.5%, last 2 versions, Firefox ESR, not dead, IE 11"
      }
    ],
    [
      "@babel/typescript",
      {
        "jsxPragma": "h"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        "runtime": "automatic",
        "importSource": "preact"
      }
    ]
  ]
}
