venv
env
*.pyc
staticfiles
.env
.cache
settings.yml
.DS_Store
debug.log
*.swp
*.swo
node_modules/*
*.code-workspace
node_modules
.vscode/*
.mypy_cache
package-lock.json
.idea
lib/
static/*
.yalc
yalc*
cypress/videos
coverage
react/dist
test-result.json
yarn-error.log
stats.html
.eslintcache
