# the recorder file can have unexpected impact on users' sites
src/entrypoints/recorder.ts @team-replay

src/extensions/surveys/ @PostHog/team-surveys
src/extensions/surveys.tsx @PostHog/team-surveys
src/extensions/surveys-widget.ts @PostHog/team-surveys
src/entrypoints/surveys.ts @PostHog/team-surveys
src/entrypoints/surveys-preview.es.ts @PostHog/team-surveys
src/posthog-surveys-types.ts @PostHog/team-surveys
src/posthog-surveys.ts @PostHog/team-surveys
src/utils/survey-event-receiver.ts @PostHog/team-surveys
