@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    font-family: helvetica, arial, sans-serif;
}

html, body {
    margin: 0
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


a {
    color: rgb(9, 105, 218);
    text-decoration: none;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

button, .Button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(0,0,0,.1);

    &:hover {
        background-color: rgba(0,0,0,.2);
    }
}

div.game {
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 120px;
  height: 120px
}

.game-cell {
  width: 130px;
  height: 130px;
  border: 1px solid ;
  box-sizing: border-box;
}

.game-cell-dark {
  width: 130px;
  height: 130px;
  border: 1px solid ;
    background-color: #000000;
  box-sizing: border-box;
}

.left-half {
  width: 50vw;
  height: 100vh;
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
