:host {
    /* Define CSS Variable for widget color */
    --ph-widget-color: #e0a045; /* Default color */
    --ph-widget-text-color: white; /* Default text color (usually white for contrast) */
    --ph-widget-z-index: 2147483647; /* Default z-index */
}

.ph-survey-widget-tab {
    position: fixed;
    top: 50%;
    right: 0;
    background: var(--ph-widget-color);
    color: var(--ph-widget-text-color);
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: right top;
    min-width: 40px;
    padding: 8px 12px;
    font-weight: 500;
    border-radius: 3px 3px 0 0;
    text-align: center;
    cursor: pointer;
    z-index: var(--ph-widget-z-index);
    transition: transform 0.1s ease-in-out;
}

.ph-survey-widget-tab:hover {
    transform: rotate(-90deg) translateY(-100%) scaleY(1.1);
}
