name: Bundled Size

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm cache directory path
        id: pnpm-cache-dir
        run: echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: pnpm-cache
        with:
            path: ${{ steps.pnpm-cache-dir.outputs.PNPM_STORE_PATH }}
            key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
            restore-keys: ${{ runner.os }}-pnpm-

      - name: Install package.json dependencies with pnpm
        run: pnpm install --frozen-lockfile

      - name: Build library
        run: pnpm build

      - name: Upload bundle size visualization
        uses: actions/upload-artifact@v4
        id: viz-upload
        with:
          name: array.js.stats.html
          path: stats/array.js.stats.html
      - name: Find artifact link comment if it exists
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Download bundle size visualisation
      - name: Create or update artifact link comment
        uses: peter-evans/create-or-update-comment@v4
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            [Download bundle size visualisation](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/artifacts/${{ steps.viz-upload.outputs.artifact-id }})
          edit-mode: replace

      - uses: preactjs/compressed-size-action@v2
        with:
          build-script: "build-rollup"
          compression: "none"
