name: Bundled Size

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.x.x

      - name: Get pnpm cache directory path
        id: pnpm-cache-dir
        run: echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: pnpm-cache
        with:
            path: ${{ steps.pnpm-cache-dir.outputs.PNPM_STORE_PATH }}
            key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
            restore-keys: ${{ runner.os }}-pnpm-

      - name: Install package.json dependencies with pnpm
        run: pnpm install --frozen-lockfile

      - uses: preactjs/compressed-size-action@v2
        with:
          build-script: "build-rollup"
          compression: "none"
