name: Auto update changeset
on: pull_request
jobs:
  changeset:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    permissions:
      contents: read
    steps:
      - name: Checkout
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.POSTHOG_BOT_PAT }}
      - name: Generate changeset
        uses: the-guild-org/changesets-dependencies-action@f11b16181c79e07d62b112c2f32c9db534a9df09 # pin v1.2.2
        env:
          # we must use a PAT, otherwise the PR's tests won't run after this commit
          GITHUB_TOKEN: ${{ secrets.POSTHOG_BOT_PAT }}
