name: Playwright Integration Tests
on: [pull_request]
env:
  POSTHOG_PROJECT_KEY: "${{ secrets.POSTHOG_PROJECT_KEY }}"
  POSTHOG_PERSONAL_API_KEY: "${{ secrets.POSTHOG_PERSONAL_API_KEY }}"
  POSTHOG_API_HOST: https://us.i.posthog.com
  POSTHOG_API_PROJECT: 11213

permissions:
  contents: read

jobs:
  browsers:
    name: Test on ${{ matrix.tests.name }}
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        tests:
          - name: Chromium
            project: "chromium"
            install: "chromium"

          - name: Firefox
            project: "firefox"
            install: "firefox"

          - name: Safari
            project: "webkit"
            install: "webkit"

          - name: Edge
            project: "msedge"
            install: "chromium"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup
        with:
          build: false

      - uses: ./.github/actions/is-affected
        id: is-affected
        with:
          package-name: posthog-js

      - name: Build packages
        if: ${{ steps.is-affected.outputs.is-affected == 'true' }}
        run: pnpm build

      - name: Install Playwright Browsers
        if: ${{ steps.is-affected.outputs.is-affected == 'true' }}
        run: pnpm exec playwright install ${{ matrix.tests.install }} --with-deps --only-shell
        working-directory: packages/browser

      - name: Run ${{ matrix.tests.name }} test
        if: ${{ steps.is-affected.outputs.is-affected == 'true' }}
        timeout-minutes: 10
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          RUN_ID: ${{ github.run_id }}
          BROWSER: ${{ matrix.tests.project }}
        run: pnpm exec playwright test --config playwright.config.integration.ts --project ${{ matrix.tests.project }}
        working-directory: packages/browser
