name: Autobump

on:
  pull_request:
    types: [closed]

jobs:
  label-version-bump:
    name: Bump versions based on PR label
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    if: |
      github.event.pull_request.merged
      && contains(github.event.pull_request.labels.*.name, 'release')
      && github.event.pull_request.base.ref == 'main'
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          fetch-depth: 0

      - uses: ./.github/actions/setup
        with:
          build: false

      - name: Build @posthog-tooling/changelog
        run: pnpm turbo --filter=@posthog-tooling/changelog build

      - name: Update versions and changelogs
        run: pnpm changeset version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update lockfile
        run: pnpm install

      - name: Create pull request
        id: cpr
        uses: peter-evans/create-pull-request@18f7dc018cc2cd597073088f7c7591b9d1c02672 # v3.14.0
        with:
          message: update versions and lockfile
          default_author: github_actions
          github_token: ${{ secrets.POSTHOG_BOT_PAT }}
          token: ${{ secrets.POSTHOG_BOT_PAT }}
          commit-message: "Update MMDB on schedule"
          branch: auto/update-mmdb
          delete-branch: true
          labels: automerge
          title: "Auto: Update versions and lockfile"
          base: main
          body: |
            This PR was automatically generated by the label-version-bump workflow.

      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        run: gh pr merge --merge --auto "$PR_NUMBER"
        env:
          GH_TOKEN: ${{ secrets.POSTHOG_BOT_PAT }}
          PR_NUMBER: ${{ steps.cpr.outputs.pull-request-number }}
