name: Library checks

on:
    pull_request:
    push:
        branches:
            - main

jobs:
    unit:
        name: Unit tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v2
              with:
                version: 8.x.x
            - uses: actions/setup-node@v4
              with:
                node-version: '18'
                cache: 'pnpm'
            - run: pnpm install
            - run: pnpm test

    integration:
        name: Cypress
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v2
              with:
                version: 8.x.x
            - uses: actions/setup-node@v4
              with:
                node-version: '18'
            - name: Get pnpm cache directory path
              id: pnpm-cache-dir
              run: echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

            - name: Get cypress cache directory path
              id: cypress-cache-dir
              run: echo "CYPRESS_BIN_PATH=$(npx cypress cache path)" >> $GITHUB_OUTPUT

            - uses: actions/cache@v3
              id: pnpm-cache
              with:
                  path: |
                      ${{ steps.pnpm-cache-dir.outputs.PNPM_STORE_PATH }}
                      ${{ steps.cypress-cache-dir.outputs.CYPRESS_BIN_PATH }}
                  key: ${{ runner.os }}-pnpm-cypress-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-cypress-
            - name: Install package.json dependencies with pnpm
              run: pnpm install --frozen-lockfile
            - run: pnpm build
            - name: Cypress run
              uses: cypress-io/github-action@v6

    functional:
        name: Functional tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v2
              with:
                version: 8.x.x
            - uses: actions/setup-node@v4
              with:
                node-version: '18'
                cache: 'pnpm'
            - run: pnpm install
            - run: pnpm jest functional_tests/

    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v2
              with:
                  version: 8.x.x
            - uses: actions/setup-node@v4
              with:
                  node-version: '18'
                  cache: 'pnpm'
            - run: pnpm install

            - run: |
                  pnpm prettier --check
                  pnpm lint
                  pnpm tsc -b
