name: Minimum TypeScript version check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit:
    name: Check minimum TS version
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20, 22, 24]
        typescript-version: ["4.7.4", "5.9.2", "6.0.0-dev.20251204"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup
        with:
          node_version: ${{ matrix.node-version }}
          build: true

      # once its built we can see if we can use it on the forced version
      - name: Override TypeScript version
        run: pnpm add typescript@${{ matrix.typescript-version }} --save-dev
        working-directory: packages/browser

      - name: Test TypeScript Import
        run: |
          rm test.ts || true
          echo "import { posthog } from './dist/module'; console.log(posthog);" > test.ts
          pnpm exec tsc test.ts --strict --target es2017 --module commonjs --moduleResolution node --noEmit --skipLibCheck
        working-directory: packages/browser
