name: "PostHog.com Upgrade"

on:
  workflow_dispatch:
    inputs:
      package_name:
        type: choice
        description: "Package name to upgrade"
        required: true
        options:
          - posthog-js
      package_version:
        description: "Package version to upgrade to"
        required: true
        type: string

permissions:
  actions: write
  contents: read

jobs:
  posthog-com-upgrade:
    name: Upgrade PostHog.com Package
    runs-on: ubuntu-latest

    steps:
      - name: Check out PostHog.com repo
        uses: actions/checkout@v4
        with:
          repository: "PostHog/posthog.com"
          token: ${{ secrets.POSTHOG_BOT_PAT }}

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: yarn

      - name: Install new package version in PostHog.com repo
        id: yarn-upgrade
        shell: bash
        run: |
          OUTGOING_VERSION=$(jq '.dependencies["${{ github.event.inputs.package_name }}"]' package.json -r)
          echo "outgoing-version=$OUTGOING_VERSION" >> "$GITHUB_OUTPUT"
          for i in $(seq 1 $RETRY_TIMES); do
              # Retry loop because of npm being _eventually_ consistent
              if yarn upgrade ${{ github.event.inputs.package_name }}@${{ github.event.inputs.package_version }}; then
                  break
              else
                  [ $i -ne $RETRY_TIMES ] && sleep $RETRY_WAIT_SECONDS || false
              fi
          done
        env:
          RETRY_TIMES: 20
          RETRY_WAIT_SECONDS: 5

      - name: Generate branch name
        id: generate-branch-name
        shell: bash
        run: |
          PACKAGE_NAME_SANITIZED=$(echo "${{ github.event.inputs.package_name }}" | sed 's/@//g' | sed 's/\//-/g')
          echo "branch_name=${PACKAGE_NAME_SANITIZED}-${{ github.event.inputs.package_version }}" >> "$GITHUB_OUTPUT"

      - name: Create PostHog.com repo pull request
        id: com-repo-pr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.POSTHOG_BOT_PAT }}
          commit-message: "chore(deps): Update ${{ github.event.inputs.package_name }} to ${{ github.event.inputs.package_version }}"
          branch: ${{ steps.generate-branch-name.outputs.branch_name }}
          delete-branch: true
          labels: automerge
          title: "chore(deps): Update ${{ github.event.inputs.package_name }} to ${{ github.event.inputs.package_version }}"
          body: |
            ## Changes

            ${{ github.event.inputs.package_name }} version ${{ github.event.inputs.package_version }} has been released. This updates PostHog.com to use it.

            https://github.com/PostHog/posthog-js/compare/${{ github.event.inputs.package_name }}@${{ steps.yarn-upgrade.outputs.outgoing-version }}...${{ github.event.inputs.package_name }}@${{ github.event.inputs.package_version }} • [GitHub releases](https://github.com/PostHog/posthog-js/releases) • [npm releases](https://www.npmjs.com/package/${{ github.event.inputs.package_name }}?activeTab=version)

      - name: Output pull request result
        shell: bash
        run: |
          echo "PostHog.com pull request for ${{ github.event.inputs.package_name }} version ${{ github.event.inputs.package_version }} ready: ${{ steps.com-repo-pr.outputs.pull-request-url }}"
