name: React

on:
  - pull_request

jobs:
  react:
    name: Test with React
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8.x.x
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'
      - run: pnpm install && pnpm build && cd react && pnpm test
