name: Server-side rendering and ES5

on:
  - pull_request

jobs:
  ssr:
    name: Cypress
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8.x.x
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'

      - run: pnpm install && pnpm build

      - name: Run es-check to check if our bundle is ES5 compatible
        run: npx es-check@6.1.1 es5 dist/array.js

      - name: Run es-check to check if our bundle is ES5 compatible
        run: npx es-check@6.1.1 es5 dist/umd/index.js

      - name: Require module via node
        run: cd dist; node -e "require('./umd'); node -e "require('./umd/index.mjs')"
