name: Server-side rendering and ES5

on:
  - pull_request

jobs:
  ssr:
    name: Cypress
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - run: yarn install && yarn build-module && yarn build

      - name: Run es-check to check if our bundle is ES5 compatible
        run: npx es-check@6.1.1 es5 dist/{array,module}.js

      - name: Require module via node
        run: cd dist; node -e "require('./module')"
