name: TestCafe
on: [pull_request]
env:
  BROWSERSTACK_ACCESS_KEY: "${{ secrets.BROWSERSTACK_ACCESS_KEY }}"
  BROWSERSTACK_USERNAME: "${{ secrets.BROWSERSTACK_USERNAME }}"
  POSTHOG_PROJECT_KEY: "${{ secrets.POSTHOG_PROJECT_KEY }}"
  POSTHOG_API_KEY: "${{ secrets.POSTHOG_API_KEY }}"
  BROWSERSTACK_DEBUG: 'true'
  BROWSERSTACK_NETWORK_LOGS: 'true'
  BROWSERSTACK_CONSOLE: 'info'
  BROWSERSTACK_FORCE_PROXY: 'true'
  BROWSERSTACK_USE_AUTOMATE: 'true'

jobs:
  browsers:
    name: Test on ${{ matrix.name }}
    runs-on: ubuntu-latest

    strategy:
      matrix: 
        browserstack:
          - chrome
          - ie
          - safari
        include:
          - browserstack: chrome
            name: Chrome
          - browserstack: ie
            name: IE11
          - browserstack: safari
            name: Safari

    steps:
      - name: Check out posthog-js
        uses: actions/checkout@v2

      - name: Set up Node 18
        uses: actions/setup-node@v3
        with:
            node-version: 18

      - name: Serve static files
        run: python -m http.server 8080 &

      - name: Set up posthog-js
        run: yarn && yarn build-rollup

      - name: Run ${{ matrix.name }} test
        run: yarn testcafe "browserstack:${{ matrix.browserstack }}"
