name: TestCafe
on: [pull_request]
env:
  BROWSERSTACK_ACCESS_KEY: "${{ secrets.BROWSERSTACK_ACCESS_KEY }}"
  BROWSERSTACK_USERNAME: "${{ secrets.BROWSERSTACK_USERNAME }}"
  POSTHOG_PROJECT_KEY: "${{ secrets.POSTHOG_PROJECT_KEY }}"
  POSTHOG_PERSONAL_API_KEY: "${{ secrets.POSTHOG_PERSONAL_API_KEY }}"
  BROWSERSTACK_DEBUG: "true"
  BROWSERSTACK_NETWORK_LOGS: "true"
  BROWSERSTACK_CONSOLE: "info"
  BROWSERSTACK_FORCE_PROXY: "true"
  BROWSERSTACK_USE_AUTOMATE: "true"
  BROWSERSTACK_PROJECT_NAME: "PostHog JS SDK"

jobs:
  browsers:
    name: Test on ${{ matrix.name }}
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        browser:
          - "browserstack:ie"
        include:
          - browser: "browserstack:ie"
            name: IE11

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup
        with:
          build: false

      - uses: ./.github/actions/is-affected
        id: is-affected
        with:
          package-name: posthog-js

      - name: Build packages
        if: steps.is-affected.outputs.is-affected == 'true'
        run: pnpm build

      - name: Serve static files
        if: steps.is-affected.outputs.is-affected == 'true'
        run: python -m http.server 8080 &

      - name: Run ${{ matrix.name }} test
        if: steps.is-affected.outputs.is-affected == 'true'
        timeout-minutes: 10
        env:
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
          RUN_ID: ${{ github.run_id }}
          BROWSER: ${{ matrix.browser }}
        run: pnpm testcafe ${{ matrix.browser }} --stop-on-first-fail
        working-directory: packages/browser

      - name: Check ${{ matrix.name }} events
        if: steps.is-affected.outputs.is-affected == 'true'
        timeout-minutes: 10
        run: pnpm check-testcafe-results
        working-directory: packages/browser
