name: TestCafe
on: [pull_request]
env:
  BROWSERSTACK_ACCESS_KEY: "${{ secrets.BROWSERSTACK_ACCESS_KEY }}"
  BROWSERSTACK_USERNAME: "${{ secrets.BROWSERSTACK_USERNAME }}"
  POSTHOG_API_KEY: "${{ secrets.POSTHOG_API_KEY }}"
  BROWSERSTACK_DEBUG: 'true'
  BROWSERSTACK_NETWORK_LOGS: 'true'
  BROWSERSTACK_CONSOLE: 'info'

jobs:
  browsers:
    name: Test on Chrome, IE11, and Safari
    runs-on: ubuntu-latest
    steps:
      - name: Check out posthog-js
        uses: actions/checkout@v2

      - name: Set up Node 14
        uses: actions/setup-node@v2
        with:
            node-version: 14

      - name: Serve static files
        run: python -m http.server 8080 &

      - name: Set up posthog-js
        run: yarn && yarn build-array

      - name: Run chrome test
        run: npx testcafe "browserstack:chrome" testcafe/*.spec.js

      - name: Run ie11 test
        run: npx testcafe "browserstack:ie" testcafe/*.spec.js

      - name: Run safari test
        run: npx testcafe "browserstack:safari" testcafe/*.spec.js
